# Terraform
terraform/*.tfvars
terraform/.terraform/
*.tfstate
*.tfstate.backup

# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.log
*.tmp
.env

# macOs
.DS_Store

# Act Test
.github/workflows/act-ci-cd.yml
.secrets